@using Microsoft.AspNetCore.Http
@{
    var currentuser = Context.Items["UserInfo"] as CurrentUserModel;
}

<script src="~/js/host.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/api.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/jsApp/walletManagement.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/common.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/constant.js" type="text/javascript" asp-append-version="true"></script>

<div class="left-side-bar">
    <div class="brand-logo">
        <a href="javascript:void(0);" onclick="home()">
            <img src="~/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <span class="micon dw dw-analytics-21"></span><span class="mtext">Chỉ số</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">Revenus</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">DAU</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">NRU</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">ARPD</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">ARPU</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">DEVICE</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">LOCATION</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <span class="micon dw dw-gamepad"></span><span class="mtext">Game</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">CCU</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex()">ACCOUNT</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="openViewIndex()" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-book"></span><span class="mtext">Kế toán</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <span class="micon dw dw-analytics-21"></span><span class="mtext">MM</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0);" onclick="openViewIndex(2)">Quản lý ví</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex(3)">Mua</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex(4)">Bán</a></li>
                        <li><a href="javascript:void(0);" onclick="openViewIndex(5)">Thống kê</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="openViewIndex(1)" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-user-1"></span><span class="mtext">Quản lý tài khoản</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function home() {
        window.location.href = "/Home";
    }
    function openViewIndex(menu) {
        if (menu === 1) {
            window.location.href = "/api/User";
            //$.ajax({
            //    method: "GET",
            //    url: "api/User",
            //    success: function (result) {
            //        $("#body-root").html(result);
            //    }
            //});
        } else if (menu === 2) {
            window.location.href = "/api/WalletManagement";
        } else if (menu === 3) {
            window.location.href = "/api/BuyItems";
        } else if (menu === 4) {
            window.location.href = "/api/SellItems";
        } else if (menu === 5) {
            window.location.href = "/api/Statistical";
        }
    }
</script>